/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 80%;
}

.inner-entry-content {
  max-width: 960px;
  padding: 0px;
}

/*********************
HEADER STYLES
*********************/
.header {
}
