/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 0.9em;
  font-size: 34px;
  line-height: 34px;
  font-weight: normal;
  padding: 0 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button


a:link.btn,
a:visited.btn,
a.btn,
.btn{
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1em;
    padding: .5em;
    border-radius: 4px;
    color: $button-hover-color;
    -webkit-tap-highlight-color: #146660;
    font-weight: normal;
    border: $button-hover-color solid 1px;
    text-shadow: none;
    transition: all 500ms;
    
	&.primary{
	    background-color: $button-color;
	    color: $white;
	    
	    &:hover{
			transition: background-color 500ms;
			background-color: $button-hover-color;	    
		}
	}
	
	&:hover a{
		background-color: $button-hover-color;
		color: $white;
	}
}

.nav{
	.menu-item.btn{
		border-width: 0px;
	    margin: 0px;
	    border-radius: 4px;
	    display: block;
	    
		 a {
    		background-color: #f5f5f5;
    		color: #666;
    		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    		font-weight: normal;
		    background-image: none;
		    box-shadow: none;
		    border: 1px solid #CCC;
		    border-radius: 4px;
		    -moz-border-radius: 4px;
		    -webkit-border-radius: 4px;
		    font-size: .8em;
		    padding: 12px;
		    margin-top: -2px;
		    transition: background-color 500ms;
		    
		    &:hover{
		    	background-color: #DDD;
		    }
		}
		
		&.btn-primary a{
			background-color: $button-color;
		    color: #FFFFFF;
		    text-shadow: none;
		    border-width: 0px;
		    
		    &:hover{
				background-color: $button-hover-color;
				text-shadow: none;
			}
		}
		
		&.login a{
			border: 1px solid $button-hover-color;
			color: $button-hover-color;
			background-color: $white;
			text-shadow: none;
		
			&:hover, &:focus{
				background-color: $button-hover-color;
				color: $white;
			}
			
			img.icon{
				height: 20px;
				position: relative;
				top: 5px;
			}
		}
	}
}

[class*='col-'].btn{
	margin-right: 1em;
}

